.faqSection {
    background: rgba(255, 255, 255, 0.9); /* Slightly opaque background */
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    margin: 2rem 0; /* Space between sections */
}

.faqItem {
    margin-bottom: 1rem; /* Space between FAQs */
    cursor: pointer; /* Show pointer on hover */
}

.faqQuestion {
    background-color: white; /* Dark blue background for questions */
    color: black; /* White text for questions */
    padding: 1rem;
    border-radius: 10px; /* Rounded corners */
    transition: background-color 0.3s; /* Transition effect for hover */
}

.faqQuestion:hover {
    background-color: rgb(154, 187, 229); /* Lighter blue on hover */
}

.faqAnswer {
    background-color:whitesmoke;
    color: black; /* Black text for answers */
    padding: 1rem;
    border-radius: 10px; /* Rounded corners */
    margin-top: 0.5rem; /* Space between question and answer */
}
