.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align content to the left */
    text-align: left;
    color: white;
    overflow: hidden;
}

.imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Adjust width for how much of the image should be blurred */
    height: 100%;
    z-index: 1;
}

.heroContent {
    z-index: -1;
    max-width: 600px;
    background: rgba(198, 190, 190, 0.5); /* Translucent black background for contrast */
    padding: 20px;
    border-radius: 10px;
    margin-left: 1%; /* Move the content slightly away from the left */
}
.heroContent h2 {
    color: rgb(0, 61, 140);
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;


}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.ctaButton {
    background-color: rgb(0, 46, 107);
    color: white;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ctaButton:hover {
    background-color: rgb(0, 61, 140);
}
