.plans {
    padding: 2rem;
    text-align: center;
  
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    
}


.plansContainer h1{
    color: rgb(0, 61, 140);
}



.plan {
    border-radius: 10px;
    padding: 1.5rem;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    text-align: center;
    cursor: pointer;
}

.plan:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.lowPlan {
    background-color: rgb(0, 77, 178); /* Dark blue */
}

.mediumPlan {
    background-color: rgb(0, 61, 140); /* Medium blue */
}

.highPlan {
    background-color: rgb(0, 46, 107); /* Darker blue */
}

.plansContainer h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.planButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid black;
  }
  
.planButton:hover {
    background-color: whitesmoke;
  }
.plansContainer h1{
    color:rgb(1, 47, 107);
  }

  .plansContainer p{
    color:white;
  }
  
  
  