@import  './App.module.css';
.subscription {
    padding: 2rem;
    text-align: center;
}

.emailInput {
    padding: 1rem;
    font-size: 1.2rem;
    width: 40%;
    margin-right: 1rem;
    border-radius: 8px;
    border: 1px solid var(--bp-color-primary-default);
}

.subscribeButton {
    padding: 1rem 2rem;
    background-color: var(--bp-color-primary-default);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
}

.subscribeButton:hover {
    background-color: var(--bp-color-primary-hover);
}
