.Formbg{
  background-color: rgb(255, 255, 255);
  color:rgb(1, 47, 107);
  border: 1px solid white;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(142, 137, 137);
  text-align: left;
  width: 50%;
  padding: 50px;
  align-items: center;
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 23%;
  margin-top: 20px;
  border-color: rgb(1, 47, 107);
  border-width: 2.5px;
}

.Formbg input{
  margin-left: 20px;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 4px;
  margin-top: 4px;
  color: rgb(124, 126, 129);
  box-shadow: none;
  display: inline;
}

.Formbg input[type="submit"]{
  color: white;
  background-color: rgb(1, 47, 107);
  margin-left: 45%;
  margin-top: 20px;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  font-size:medium;
  font-weight: bold;
}

.Formbg select{
  margin-left: 20px;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 4px;
  margin-top: 4px;
  color: rgb(0, 0, 0);
  box-shadow: none;
  background-color: white;
}

.title{
  text-align:center;
}

.Formbg label{
  display: inline;
}
