
.footer {
    text-align: center;
    background-color:  rgb(0, 46, 107);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    font-size: 0.9rem;
  }
  