/* src/styles/EditPolicy.module.css */
.formContainer {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: var(--bp-color-primary-default);
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

.button {
  background-color: var(--bp-color-primary-default);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background-color: var(--bp-color-primary-hover);
}
