.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(154, 187, 229);
    padding: 10px 20px;
  }
  
  .logo a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
  }
  
  .navLinks li {
    margin: 0 15px;
  }
  
  .navLinks a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  .navLinks a:hover {
    color: #ffcc00;
  }
  
  .active {
    color: #ffcc00;
  }
  
  .logoutButton {
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logoutButton:hover {
    background-color: rgb(154, 187, 229);
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .navLinks {
      display: none;
    }
  
    .navbar {
      flex-direction: column;
    }
  }
  