.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pageButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  margin: 0 5px;
  border-radius: 3px;
  cursor: pointer;
}

.activePage {
  background-color: #ffc107;
  color: white;
}

.pageButton:hover {
  background-color: #0056b3;
}
