

.detailsContainer {
  max-width: 800px; 
  margin: 20px auto; 
  padding: 20px; 
  background-color: white; 
  border-radius: 8px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s;
}

.detailsContainer:hover {
  transform: translateY(-2px); 
}

h2 {
  color: var(--bp-color-primary-default); 
  margin-bottom: 10px; 
}

p {
  font-size: 1rem; 
  color: #333; 
  margin: 5px 0; 
}

.actions {
  margin-top: 20px; 
  display: flex; 
  justify-content: space-between; 
}

.editButton, .deleteButton {
  background-color: var(--bp-color-primary-default); 
  color: white; 
  padding: 10px 15px;
  border-radius: 5px; 
  cursor: pointer; 
  transition: background 0.3s, transform 0.2s; 
}

.editButton:hover {
  background-color: var(--bp-color-primary-hover); 
  transform: translateY(-2px); 
}

.deleteButton {
  background-color: red; 
}

.deleteButton:hover {
  background-color: darkred; 
  transform: translateY(-2px); 
}

@media (max-width: 600px) {
  .detailsContainer {
      padding: 15px; 
  }
  
  h2 {
      font-size: 1.5rem; 
  }
  
  p {
      font-size: 0.9rem; 
  }
}
