.card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.addPolicy {
  background-color: rgb(1, 47, 107);
  color: white;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
}

.tab {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.active {
  background-color: rgb(1, 47, 107);
  color: white;
}

.inactive {
  background-color: rgb(1, 47, 107);
  color: white;
}

.searchTypeTotal {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.totalCount {
  font-weight: bold;
}

.policiesTable {
  width: 100%;
  border-collapse: collapse;
  
}

.policiesTable th,
.policiesTable td {
  border: 1px solid #ddd;
  padding: 12px;
}

.policiesTable th {
  background-color: rgb(1, 47, 107);
  color: white;
}

.editBtn {
  background-color: rgb(1, 47, 107);
  color: white;
  margin-right: 5px;
}

.threeDots {
  cursor: pointer;
  font-size: 24px;
}

.actionCell {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}