.dashboardContent {
  padding: 20px;
  background-color: #f4f7fa;
}

.greeting {
  font-size: 1.5rem;
  color: var(--bp-color-primary-default);
  margin-bottom: 20px;
}

.overview {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid var(--bp-color-primary-light-pressed);
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.overviewItem {
  font-size: 1.1rem;
  color: var(--bp-color-primary-default);
}

.overviewValue {
  font-weight: bold;
  color: var(--bp-color-primary-pressed);
}
