.graphsSection {
  margin-top: 40px;
  padding: 20px;
  background-color: var(--bp-color-primary-light-pressed); /* Light background */
  border-radius: 8px;
  border: 1px solid var(--bp-color-primary-light-disabled); /* Soft border */
}

.sectionTitle {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.6rem;
  color: var(--bp-color-primary-default); /* Primary text color */
}

.chartContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.chart {
  width: 32%;
  margin-bottom: 30px;
  background-color: white; /* Clean white background for charts */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--bp-color-primary-light-disabled); /* Border with light disabled color */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition effects */
}

.chart:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px); /* Lift effect on hover */
}

.chartTitle {
  text-align: center;
  margin-bottom: 15px;
  color: var(--bp-color-primary-default); /* Primary heading color */
}

@media (max-width: 900px) {
  .chart {
    width: 100%; /* Full width on smaller screens */
  }
}
