.nav {
  background-color: var(--bp-color-primary-default);
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: flex-end;
}

.navList {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;

}

.navItem {
  margin: 0 10px; /* Space between buttons */
  padding: 10px 20px; /* Padding to make it look like a button */
  background-color: var(--bp-color-primary-default); /* Primary background color */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  border-radius: 5px; /* Rounded corners for button effect */
  cursor: pointer; /* Pointer cursor for interactivity */
  transition: background-color 0.3s ease; /* Smooth hover transition */
  font-size: 1.2rem;
}

.navItem:hover {
  background-color: var(--bp-color-primary-hover); /* Hover state */
}

.navItem:active {
  background-color: var(--bp-color-primary-pressed); /* Active state */
}

nav ul li a {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}





