.policySection {
  margin-top: 20px;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
}

.sectionTitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: var(--bp-color-primary-default); /* Primary color for title */
}

.policyCard {
  display: flex;
  justify-content: space-between; /* Space between info and actions */
  align-items: center; /* Align content vertically */
  background-color: white; /* Light background color */
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for card */
  border:solid,rgb(0, 46, 107) ;
}

.policyInfo {
  display: flex;
  flex-direction: column;
}

.policyInfo span {
  margin-bottom: 5px;
  font-size: 1rem;
  color: var(--bp-color-primary-hover); /* Slightly darker color for text */
}

.policyActions {
  display: flex;
  gap: 10px; /* Spacing between buttons */
}

.actionBtn {
  padding: 10px 15px;
  background-color: var(--bp-color-primary-default);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actionBtn:hover {
  background-color: var(--bp-color-primary-hover); /* Hover effect */
}

.actionBtn:active {
  background-color: var(--bp-color-primary-pressed); /* Active state */
}
