:root {
    --bp-color-primary-default: rgb(0, 77, 178);
    --bp-color-primary-hover: rgb(0, 61, 140);
    --bp-color-primary-pressed: rgb(0, 46, 107);
    --bp-color-primary-light-pressed: rgb(154, 187, 229);
    --bp-color-primary-light-disabled: rgb(128, 168, 221);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}
